/* Styling for HTML elements */
body {
    padding: 60;
    margin: 20;
    font-size: 30px;
    line-height: 150%;
    color: #dcb9fc;
    background: #d2fcb9;
  }

/* ~~~ DROP DOWN MENU ~~~ */
.navbar-brand {
    background: #33dac3;
    font-family: Georgia, serif;
    font-size: large;
    color: #ffffff;
    }

.description-header {
    margin: 0px;
    margin-left: 0px;
    font-size: 30px;
    font-family: Georgia, serif;
    font-weight: bold;
    color: #33dac3;
    }
 
/* ~~~ COL BOX PROPERTIES ~~~ */
.description-content {
    display: inline-block;
    padding: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: relative;
    background-color: #ffffff;
    }

/* ~~~ IMAGE SIZES ~~~ */
#description-image {
    height: 300px;
    width: 425px;
}

/* LANDING PAGE VISUALIZATION GRID */
.viz-nav {
    display: inline-block;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 70px;
    background-color: #ffffff;
}
  
.table-striped {
    background-color: #ffffff;
}

/* COLOR BORDER AROUND VISUALIZATION SIDE "MENU" */
.viz-border {
    box-sizing: border-box;
    display: block;
    border-style: solid;
    border-color: #33dac3;
  }

/* INTERACTIVE RESPONSIVE */
@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .row {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
      cursor: pointer;
    }
  
    #nav-select {
      visibility: visible;
    }
  }